@font-face {
    font-family: "Gilroy";
    src: url("font/Gilroy-ExtraBold.otf");
}

@font-face {
    font-family: "Gilroy Light";
    src: url("font/Gilroy-Light.otf");
}

@font-face {
    font-family: "Raleway";
    src: url("font/Raleway-Regular.ttf");
}

body {
    /* background-color: rgb(40, 156, 160); */
    /* background-color: white; */
    background: linear-gradient(to right, rgba(111, 203, 254, 1) 0%, rgba(112, 155, 252, 1) 15%, rgba(111, 106, 237, 1) 30%, rgba(108, 78, 203, 1) 48%, rgba(104, 65, 140, 1) 65%, rgba(99, 60, 81, 1) 82%, rgba(98, 59, 57, 1) 100%);
    margin: 8px;
}

#main {
    width: 60%;
    position: absolute;
    float: left;
}

#side {
    width: 30%;
    position: fixed;
    float: right;
    right: 10px;
}

.blob {
    border: 1px solid white;
    /* border-radius: 10px; */
    padding: 5px;
    overflow: hidden;
    padding-left: 10px;
    margin-bottom: 10px;
    /* width: 60%; */
    background-color: rgba(24, 21, 36, 0.7);
}

.blob h3 {
    font-size: 24px;
    font-family: "Gilroy";
    color: #0ab2cb;
    text-shadow: 1px 2px 2px black, -1px 2px 2px black;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.blob h5,
.blob h6,
.blob a {
    margin: 2px;
    font-family: "Gilroy Light";
    font-size: 16px;
    color: white;
    /* text-shadow: 1px 1px 3px black, -1px 2px 3px black; */
}

.blob h6 {
    color: white;
}

.blob a,
.blob a:visited {
    color: orange;
    word-break: break-all;
}

input,
button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-family: "Roboto";
    height: 22px;
    width: 125px;
}

input::-webkit-calendar-picker-indicator {
    /* display: none; */
    /* visibility: hidden; */
    filter: invert(1);
}

::selection,
input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus,
input::-webkit-datetime-edit-hour-field:focus,
input::-webkit-datetime-edit-minute-field:focus {
    background-color: rgba(0, 128, 128, 0.8);
}

.button {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    text-align: center;
    font-size: 16px;
    width: 50px;
    transition: all 0.2s;
    cursor: pointer;
    font-family: "Raleway";
    overflow: hidden;
    height: 24px;
    position: relative;
    transform: translateY(1px);
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: -2px;
    right: -50px;
    transition: 0.2s;
}

.button:hover span {
    padding-right: 25px;
}

.button:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    /* height: 0%; */
    background-color: rgba(0, 128, 128, 0.8);
    transition: all 0.1s ease-out;
    z-index: -1;
    /* border-radius: 25px 0 0 0; */
}

.button:hover:before {
    height: 100%;
    width: 100%;
    border-radius: 0;
}

.button:hover span:after {
    opacity: 1;
    right: 10px;
}

#errmsg {
    color: rgb(224, 9, 9);
    opacity: 0;
    transition: 0.2s opacity;
    padding-top: 2px;
}

#controls {
    text-align: center;
}

#loading-box {
    text-align: center;
}

#loading-anim {
    position: relative;
    left: calc(50% - 40px);
    top: 10px;
    z-index: 11;
    margin: 0;
    border: 8px solid white;
    border-radius: 50%;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-height:700px) {
    #link-zone {
        height: 450px;
    }
}

#link-zone {
    overflow-y: scroll;
    /* border: 1px solid white; */
    padding: 8px;
    height: 67vh;
}

.link {
    color: yellow!important;
    font-weight: bold;
    text-decoration: none;
    border-style: solid;
    /* border-color: #0ab2cb; */
    border-width: 0;
    font-size: 18px!important;
    position: sticky;
    z-index: 0;
    padding: 0 !important;
    height: 25px!important;
    cursor: pointer;
    text-shadow: 1px 1px 5px black, -1px 2px 5px black
}

.link:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px !important;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    box-shadow: black 0px 2px 5px;
    z-index: -1;
}

.link:hover:before {
    visibility: visible;
    width: calc(100% + 1px);
}